entur:
  jwt:
    clients:
      auth0:
        myClient:
          host: "localhost"
          clientId: "myClient"
          secret: "mySecret"
          audience: "myAudience"
          protocol: "http"
          port: 8000
management:
  endpoint:
    health:
      probes:
        enabled: true
      group:
        readiness:
          include: "readinessState,jwts"
  endpoints:
    web:
      exposure:
        include:
        - "health"
