name: Verify PR
on:
  pull_request:
    types:
      - synchronize
      - opened

jobs:
  verify-pr:
    uses: entur/abt-gha-public/.github/workflows/maven-open-source-verify.yml@main
    with:
      java-version: 25
